In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [26]:
s1 = Series([54,24,52,54,53,64])
s1

0    54
1    24
2    52
3    54
4    53
5    64
dtype: int64

In [28]:
type(s1), s1.dtype, s1.size, s1.shape

(pandas.core.series.Series, dtype('int64'), 6, (6,))

In [30]:
s2 = Series([34,54,34,65,23],index=["a","b","c","d","e"])
s2

a    34
b    54
c    34
d    65
e    23
dtype: int64

In [66]:
s2[0:3]

a    34
b    54
c    34
dtype: int64

In [62]:
s2[3:0]

Series([], dtype: int64)

In [64]:
s2[3:0:-1]

d    65
c    34
b    54
dtype: int64

In [68]:
s2['a':'c']

a    34
b    54
c    34
dtype: int64

A Series is a one-dimensional labeled array that can hold any data type (integers, strings, floats, etc.).

Each value has an index (left column), which starts from 0 by default.

In [40]:
# Creating a Series from a list
data = [10, 20, 30, 40]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
dtype: int64

In [42]:
series = pd.Series(data, index=['a', 'b', 'c', 'd'])
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [48]:
print(series[2])
print(series['b'])

30
20

C:\Users\Nike\AppData\Local\Temp\ipykernel_18588\2434563373.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[2])

In [50]:
#Operation on Series
print(series * 2)  # Multiply all values by 2
print(series + 5)  # Add 5 to all values

a    20
b    40
c    60
d    80
dtype: int64
a    15
b    25
c    35
d    45
dtype: int64